<section data-ng-controller="HomeController" data-ng-init="find()">
	<div class="jumbotron text-center" data-ng-show="(!authentication.user)">
		<div class="row bg">
			<p class="lead">
                <img alt="Logo" class="img-responsive text-center" src="modules/core/img/brand/logo2.png" />
            <h1>Free Survey Site</h1>
			</p>
		</div>
	</div>
<br/><br/>
    <div class="clear-fix" data-ng-show="(!authentication.user)">

        <h1 class="jumbotron2 text-center">Create <strong>Free Online Surveys</strong> and use your field!</h1>

        <div class="home-hero-button" >
            <a class="btn btn-info btn-lg"
               data-ng-href="/#!/signup">Sign Up Free</a>
            <a class="btn btn-success btn-lg"
               data-ng-href="/#!/signin">Sign In</a>
        </div>
    </div>
    <div class="page-header" data-ng-show="(!authentication.user)">
        <h1>Join the Survey in the List</h1>
    </div>
    <div class="page-header" data-ng-show="authentication.user">
        <h1>Dashboard</h1>
        <a class="btn btn-success btn-lg"
               data-ng-href="/#!/surveycruds/create">Add New Survey</a>
    </div>
    <div class="list-group">
        <a data-ng-repeat="surveycrud in surveycruds" data-ng-href="#!/surveycruds/{{surveycrud._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="surveycrud.created | date:'medium'"></span>
				by
				<span data-ng-bind="surveycrud.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="surveycrud.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!surveycruds.$resolved || surveycruds.length">
    	No Surveycruds yet, why don't you <a href="/#!/surveycruds/create">create one</a>?
    </div>
</section>