<section data-ng-controller="SurveycrudsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="surveycrud.name"></h1>
	</div>
    <div class="row">
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th>Select 1</th>
                    <th>Select 2</th>
                    <th>Select 3</th>
                    <th>Select 4</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in surveycrud.questions">
                    <th>{{$index + 1}}</th>
                    <th>{{question.question}}</th>
                    <th>{{question.select1}}</th>
                    <th>{{question.select2}}</th>
                    <th>{{question.select3}}</th>
                    <th>{{question.select4}}</th>
                    <th>
                        <a class="btn btn-primary" ng-click="editQuestion(question._id)">
                            <i class="glyphicon glyphicon-edit"></i>
		                </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == surveycrud.user._id))">
		<a class="btn btn-primary" href="/#!/surveycruds/{{surveycrud._id}}/edit">
            Change Title
			<i class="glyphicon glyphicon-edit"></i>
		</a>
        <a class="btn btn-primary" href="/#!/surveycruds/{{surveycrud._id}}/addQuestion">Add Question
            <i class="glyphicon glyphicon-pencil"></i>
        </a>        
		<a class="btn btn-primary" data-ng-click="remove();">
            Delete Survey
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="surveycrud.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="surveycrud.user.displayName"></span>
		</em>
	</small>
</section>
